<app-usernav></app-usernav>
<div class="view-feedback">
  <h1>Loan Details</h1>
  <div class="underline"></div>
  <div class="search-container">
    <input type="text" id="search" name="search" placeholder="Search" [(ngModel)]="searchTerm"
      (ngModelChange)="searchLoans()" (input)="searchLoans()">
  </div>
  <table *ngIf="paginatedLoans.length > 0; else noRecords" class="table-content">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Loan Name</th>
        <th>Submission Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let la of paginatedLoans; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ la.Loan?.LoanType }}</td>
        <td>{{ la.SubmissionDate }}</td>
        <td>{{ getStatus(la.LoanStatus) }}</td>
        <td>
          <div class="button-container">
            <button class="btn-show" (click)="viewLoan(la.LoanApplicationId)">View</button>
            <button class="btn-delete" (click)="confirmDelete(la.LoanApplicationId)" [disabled]="la.LoanStatus === 1">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Pagination controls -->
  <div class="pagination-controls" *ngIf="filteredLoans.length > itemsPerPage">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ getTotalPages() }}</span>
    <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= filteredLoans.length">Next</button>
  </div>
  <ng-template #noRecords>
    <div class="no-records">
      Oops! No records found.
    </div>
  </ng-template>

  <div *ngIf="showDeleteModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeDeleteModal()">&times;</span>
      <p>Are you sure you want to delete this page?</p>
      <button (click)="deleteLoan()" class="btn-confirm-delete">Yes, Delete</button>
      <button (click)="closeDeleteModal()" class="btn-cancel">Cancel</button>
    </div>
  </div>

  <!-- View Modal -->
  <div *ngIf="showViewModal" class="modal">
    <div class="modal-content">
      <h3>Loan Details</h3>
      <button type="button" class="btn-close" (click)="closeviewModal()"></button>
      <p>Loan Name: {{loanApplication.Loan.LoanType}}</p>
      <p>Submission Date: {{loanApplication.SubmissionDate}}</p>
      <p>Status: {{getStatus(loanApplication.LoanStatus)}}</p>
      <p>Farm Location: {{loanApplication.FarmLocation}}</p>
      <p>Farmer Address: {{loanApplication.FarmerAddress}}</p>
      <p>Farm Size: {{loanApplication.FarmSizeInAcres}}</p>
      <p>Farm Purpose: {{loanApplication.FarmPurpose}}</p>
      <button type="button" class="btn-cancel" (click)="closeviewModal()">Cancel</button>
    </div>
  </div>
</div>