<app-usernav></app-usernav>
<div class="add-request-container">
  <div class="header">
    <h2>Loan Application Form</h2>
    <button class="btn btn-secondary back-button" (click)="goBack()">Back</button>
  </div>
  <form (ngSubmit)="onSubmit(loanaForm)" #loanaForm="ngForm">
    <div class="form-group">
      <label for="FarmLocation">Farm Location<span class="required">*</span></label>
      <input type="text" id="FarmLocation" [(ngModel)]="loana.FarmLocation" name="FarmLocation" required
        #FarmLocationField="ngModel">
      <div
        *ngIf="(FarmLocationField.invalid && (FarmLocationField.dirty || FarmLocationField.touched)) || (loanaForm.submitted && !loana.FarmLocation)"
        class="validation-message">
        Farm Location is required.
      </div>
    </div>

    <div class="form-group">
      <label for="FarmerAddress">Farmer's Address<span class="required">*</span></label>
      <input type="text" id="FarmerAddress" [(ngModel)]="loana.FarmerAddress" name="FarmerAddress" required
        #FarmerAddressField="ngModel">
      <div
        *ngIf="(FarmerAddressField.invalid && (FarmerAddressField.dirty || FarmerAddressField.touched)) || (loanaForm.submitted && !loana.FarmerAddress)"
        class="validation-message">
        Farmer Address is required.
      </div>
    </div>

    <div class="form-group">
      <label for="FarmSizeInAcres">Farm Size (in Acres)<span class="required">*</span></label>
      <input type="number" id="FarmSizeInAcres" [(ngModel)]="loana.FarmSizeInAcres" name="FarmSizeInAcres" min="1"
        required #FarmSizeField="ngModel">
      <div
        *ngIf="(FarmSizeField.invalid && (FarmSizeField.dirty || FarmSizeField.touched)) || (loanaForm.submitted && !loana.FarmSizeInAcres)"
        class="validation-message">
        Farm Size In Acres is required.
      </div>
    </div>

    <div class="form-group">
      <label for="FarmPurpose">Farm Purpose<span class="required">*</span></label>
      <input type="text" id="FarmPurpose" [(ngModel)]="loana.FarmPurpose" name="FarmPurpose" required
        #FarmPurposeField="ngModel">
      <div
        *ngIf="(FarmPurposeField.invalid && (FarmPurposeField.dirty || FarmPurposeField.touched)) || (loanaForm.submitted && !loana.FarmPurpose)"
        class="validation-message">
        Farm Purpose is required.
      </div>
    </div>

    <div class="form-group">
      <label for="File">Proof<span class="required">*</span></label>
      <input type="text" id="File" [(ngModel)]="loana.File" name="File" required #FileField="ngModel">
      <div *ngIf="(FileField.invalid && (FileField.dirty || FileField.touched)) || (loanaForm.submitted && !loana.File)"
        class="validation-message">
        Proof is required.
      </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div *ngIf="showPopup" class="popup">
  <div class="popup-content">
    <p>Successfully Submitted!</p>
    <button (click)="closePopup()">Ok</button>
  </div>
</div>