@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f0f0f0; /* Light grey background */
}
 
.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/assets/images/farm 1.jpg') no-repeat center center fixed; /* Use your background image */
    background-size: cover;
}
 
.login-container {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 36px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: left;
}
 
.form-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #1b5e20; /* Dark green color */
}
 
.form-header p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}
 
.form-group {
    margin-bottom: 20px;
}
 
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
}
 
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent input background */
}
 
button {
    background-color: #1b5e20; /* Dark green color */
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    width: 100%;
}
 
button:hover {
    background-color: #0d3c0e; /* Slightly darker shade for hover */
    transform: scale(1.05);
}
 
.password-container {
    position: relative;
}
 
.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
 
.signup-link {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
 
.signup-link a {
    color: #1b5e20;
    text-decoration: none;
}
 
.signup-link a:hover {
    text-decoration: underline;
}
 

.error-message {
     color: red;
     font-size: 1em; 
     margin-top: 10px; /* Increased margin for better spacing */
     padding: 10px; /* Added padding for a cleaner look */
     border: 1px solid red; /* Border to highlight the error */
     background-color: #ffe6e6; /* Light red background for emphasis */
     border-radius: 5px; /* Rounded corners for a modern look */
     font-weight: bold; /* Bold text for importance */
     box-shadow: 0 0 10px rgba(255, 0, 0, 0.2); /* Subtle shadow for depth */
    }
    