<app-adminnav></app-adminnav>
<div class="create-class-container">
  <h1>Create New Loan</h1>
  <form #classForm="ngForm" (ngSubmit)="addloan(classForm)">
    <div class="form-group">
      <label for="LoanType">New Loan Type<span class="required">*</span></label>
      <input type="text" id="LoanType" name="LoanType" [(ngModel)]="newLoan.LoanType" required minlength="1" maxlength="50" (blur)="validateField(classForm, 'LoanType')">
      <div *ngIf="classForm.submitted || classForm.controls.LoanType?.dirty">
        <div *ngIf="classForm.controls.LoanType?.errors?.required" class="error">Loan Type is required</div>
        <div *ngIf="classForm.controls.LoanType?.errors?.maxlength" class="error">Loan Type must be less than 50 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="Description">Description<span class="required">*</span></label>
      <input type="text" id="Description" name="Description" [(ngModel)]="newLoan.Description" required minlength="1" maxlength="30" (blur)="validateField(classForm, 'Description')">
      <div *ngIf="classForm.submitted || classForm.controls.Description?.dirty">
        <div *ngIf="classForm.controls.Description?.errors?.required" class="error">Description is required</div>
        <div *ngIf="classForm.controls.Description?.errors?.maxlength" class="error">Description must be less than 30 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="InterestRate">Interest Rate<span class="required">*</span></label>
      <input type="number" id="InterestRate" name="InterestRate" [(ngModel)]="newLoan.InterestRate" required min="1"  (blur)="validateField(classForm, 'InterestRate')">
      <div *ngIf="classForm.submitted || classForm.controls.InterestRate?.dirty">
        <div *ngIf="classForm.controls.InterestRate?.errors?.required" class="error">Interest Rate is required</div>
        <div *ngIf="classForm.controls.InterestRate?.errors?.maxlength" class="error">Interest Rate must be grater than 0</div>
      </div>
    </div>
    <div class="form-group">
      <label for="MaximumAmount">Maximum Amount<span class="required">*</span></label>
      <input type="number" id="MaximumAmount" name="MaximumAmount" [(ngModel)]="newLoan.MaximumAmount" required min="1" (blur)="validateField(classForm, 'MaximumAmount')">
      <div *ngIf="classForm.submitted || classForm.controls.MaximumAmount?.dirty">
        <div *ngIf="classForm.controls.MaximumAmount?.errors?.required" class="error">Maximum Amount is required</div>
        <div *ngIf="classForm.controls.MaximumAmount?.errors?.maxlength" class="error">Maximum Amount must be grater than 0</div>
      </div>
    </div>
    <div class="form-group">
      <label for="RepaymentTenure">Repayment Tenure<span class="required">*</span></label>
      <input type="number" id="RepaymentTenure" name="RepaymentTenure" [(ngModel)]="newLoan.RepaymentTenure" required min="1" (blur)="validateField(classForm, 'RepaymentTenure')">
      <div *ngIf="classForm.submitted || classForm.controls.RepaymentTenure?.dirty">
        <div *ngIf="classForm.controls.RepaymentTenure?.errors?.required" class="error">Repayment Tenure is required</div>
        <div *ngIf="classForm.controls.RepaymentTenure?.errors?.min" class="error">Repayment Tenure must be greater than 0</div>
      </div>
    </div>
    <div class="form-group">
      <label for="Eligibility">Eligibility<span class="required">*</span></label>
      <input type="text" id="Eligibility" name="Eligibility" [(ngModel)]="newLoan.Eligibility" required minlength="1" maxlength="200" (blur)="validateField(classForm, 'Eligibility')">
      <div *ngIf="classForm.submitted || classForm.controls.Eligibility?.dirty">
        <div *ngIf="classForm.controls.Eligibility?.errors?.required" class="error">Eligibility is required</div>
        <div *ngIf="classForm.controls.Eligibility?.errors?.maxlength" class="error">Eligibility Provided must be less than 200 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="DocumentsRequired">Documents Required<span class="required">*</span></label>
      <input type="text" id="DocumentsRequired" name="DocumentsRequired" [(ngModel)]="newLoan.DocumentsRequired" required minlength="1" maxlength="200" (blur)="validateField(classForm, 'DocumentsRequired')">
      <div *ngIf="classForm.submitted || classForm.controls.DocumentsRequired?.dirty">
        <div *ngIf="classForm.controls.DocumentsRequired?.errors?.required" class="error">Documents Required is required</div>
        <div *ngIf="classForm.controls.DocumentsRequired?.errors?.maxlength" class="error">Documents Required must be less than 200 characters</div>
      </div>
    </div>
    <button type="submit">Submit</button>
    <div class="form-validation-message">
      <p *ngIf="message" [ngClass]="{'error': message.includes('Error'), 'success': message.includes('Success')}">{{ message }}</p>
    </div>
  </form>
  
  <div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <p>{{ message }}</p>
      <button class="ok-button" (click)="closeModal()">OK</button>
    </div>
  </div>
</div>
