@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.foot {
    height: 10px; /* Set the height of the footer */
    backdrop-filter: blur(3px); /* Reduced blur effect */
    -webkit-backdrop-filter: blur(3px); /* Safari support */
    color: whitesmoke; /* Text color */
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 97.6%;
    border-top: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for separation */
}
.foot p {
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-size: 14px; /* Font size */
}