.loan-cards-container {
  display: flex;
  justify-content: center; /* Center the cards */
  overflow-x: hidden; /* Hide overflow */
  padding: 10px;
  /* background-color: #e0f2f1; Light Green Background */
  /* background-color: #dbc079; */
}
 
.loan-card {
  flex: 0 0 200px; /* Fixed width for square shape */
  height: 200px; /* Fixed height for square shape */
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #1b5e20; /* Dark Green */
  color: #fff; /* White text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: float-horizontal 10s linear infinite; /* Add horizontal floating animation */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Add transition for smooth effect */
}
 
.loan-card:hover {
  background-color: #0d3c0e; /* Slightly Darker Green for Hover */
  transform: scale(12.05); /* Slightly increase the size for pop-up effect */
}
 
@keyframes float-horizontal {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
 
.loan-card:hover {
  background-color: #0d3c0e; /* Slightly Darker Green for Hover */
}
 
.apply-button {
  background-color: #d32f2f; /* Red for Delete Button */
  color: #fff; /* White text */
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}
 
.apply-button:hover {
  background-color: #b71c1c; /* Darker Red for Hover */
}
 
@media (max-width: 768px) {
  .loan-card {
    flex: 0 0 150px; /* Adjust for tablet view */
    height: 150px; /* Adjust height for tablet view */
  }
}
 
@media (max-width: 480px) {
  .loan-card {
    flex: 0 0 100px; /* Adjust for mobile view */
    height: 100px; /* Adjust height for mobile view */
  }
}
.view-more-button {
  background-color: #1b5e20; /* Dark Green */
  color: #fff; /* White text */
  border: none;
  padding: 20px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 20px;
 
}
 
 
.view-more-button:hover {
  background-color: #0d3c0e; /* Slightly Darker Green for Hover */
}
 
.contenthome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e0f2f1; /* Light Green Background */
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  padding: 5rem;
  margin-bottom: 5rem;
  margin-top: 5.5rem;
}
 
.contenthome h1 {
  font-size: 2.5em;
  color: #1b5e20; /* Dark Green */
  margin-bottom: 10px;
}
 
.contenthome p {
  font-size: 1rem;
  color: #333; /* Dark Gray */
  line-height: 1.6;
  max-width: 800px;
}
 

.admin-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #e3d1a2;
  background-image: url('/assets/images/home2.jpg');
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  z-index: -1;
}
 
 
 