<app-adminnav></app-adminnav>
<div class="container">
  <h2 style="text-align: center;">Loan Requests for Approval</h2>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>S.No</th>
              <th>Username</th>
              <th>Loan Type</th>
              <th>Farm Location</th>
              <th>Submission Date</th>
              <th>Farm Size (Acres)</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let la of loanApplications, index as i">
              <td>{{i+1}}</td>
              <td>{{la.User?.Username}}</td>
              <td>{{la.Loan?.LoanType}}</td>
              <td>{{la.FarmLocation}}</td>
              <td>{{la.SubmissionDate}}</td>
              <td>{{la.FarmSizeInAcres}}</td>
              <td><span *ngIf="la.LoanStatus==0">Pending</span>
                  <span *ngIf="la.LoanStatus==1">Approved</span>
                  <span *ngIf="la.LoanStatus==2">Rejected</span>
              </td>
              <td>
                  <button class="btn btn-primary">Show More</button>
                  <button class="btn btn-success" *ngIf="la.LoanStatus!=1" (click)="changeStatusToApproved(la.LoanApplicationId, la)">Approve</button>
                  <button class="btn btn-danger" *ngIf="la.LoanStatus!=2" (click)="changeStatusToRejected(la.LoanApplicationId, la)">Reject</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

 