<app-adminnav></app-adminnav>
<div class="view-feedback">
  <h1>Loan Requests for Approval</h1>
  <div class="underline"></div>
  <table class="table-content">
      <thead>
          <tr>
              <th>S.No</th>
              <th>Username</th>
              <th>Loan Type</th>
              <th>Farm Location</th>
              <th>Submission Date</th>
              <th>Farm Size (Acres)</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let la of loanApplications, index as i">
              <td>{{i+1}}</td>
              <td>{{la.User?.Username}}</td>
              <td>{{la.Loan?.LoanType}}</td>
              <td>{{la.FarmLocation}}</td>
              <td>{{la.SubmissionDate}}</td>
              <td>{{la.FarmSizeInAcres}}</td>
              <td><span *ngIf="la.LoanStatus==0">Pending</span>
                  <span *ngIf="la.LoanStatus==1">Approved</span>
                  <span *ngIf="la.LoanStatus==2">Rejected</span>
              </td>
              <td>
                <div class="button-container">
                  <button class="btn-info" (click)="showDetails(la)" >Show</button>
                  <button class="btn-success" *ngIf="la.LoanStatus!=1" (click)="changeStatusToApproved(la.LoanApplicationId, la)">Approve</button>
                  <button class="btn-danger" *ngIf="la.LoanStatus!=2" (click)="changeStatusToRejected(la.LoanApplicationId, la)">Reject</button>
                </div>
              </td>
          </tr>
      </tbody>
  </table>
  <div *ngIf="selectedLoanApplication" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Farmer Details</h2>
      <p><strong>Address:</strong> {{selectedLoanApplication.FarmerAddress}}</p>
      <p><strong>Proof:</strong> {{selectedLoanApplication.File}}</p>
      <!-- <img [src]="selectedLoanApplication.ProofImage" alt="Proof Image" /> -->
    </div>
  </div>
  
</div>

 